.movies-card-list{
    margin-bottom: 80px;
    padding-left: 70px;
    padding-right: 70px;
}
.movies-card-list__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    gap: 30px 24px;
    padding-top: 80px;
    border-top: 1px solid #e8e8e8;
    padding-left: 0;
    justify-content: center;
    margin: 0;
}
.movies-card-list__button{
    max-width: 320px;
    width: 100%;
    min-height: 36px;
    border: none;
    border-radius: 6px;
    padding: 0;
    margin: auto;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin: 80px auto 0;
    display: block;
    transition: opacity .3s linear;
    margin-bottom: 80px;
}

.movies__error-message{
    text-align: center;
    margin-bottom: 80px;
}

.movies-card-list__button:hover{
    opacity: .8;
}

@media screen and (max-width: 900px) {
    .movies-card-list{
        padding-left: 30px;
        padding-right: 30px;
    }
    .movies-card-list__cards{
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 36px 30px;
    }
}
@media screen and (max-width: 600px){
    .movies-card-list{
        padding-left: 10px;
        padding-right: 10px;
    }
    .movies-card-list__cards{
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 16px 0;
        padding-top: 50px;
    }
}