.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 18px;
    min-height: 74px;
    padding: 0 70px;
}
.header__logo{
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: opacity .5s linear;
}
.header__button-container{
    display: flex;
    gap: 30px;
    text-align: center;

}
.header__button-container__films{
    display: flex;
    gap: 16px;
    align-items: center;
}
.header__container{
    display: flex;
    align-items: center;
    gap: 44px;
}
.header__button{
    border: none;
    background: none;
    padding: 0;
    height: 32px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    transition: opacity .3s linear;
}
.header__button__films{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    transition: opacity .3s linear;
}
.header__button__films_active{
    color: black;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}
.header__button-green{
    width: 76px;
    background-color: #2BE080;
    border-radius: 3px;
}
.header__pofile__link{
    display: flex;
    text-decoration: none;
    color: black;
    background-color: #f9f9f9;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    width: 100px;
    height: 32px;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: opacity .3s linear;
}
.header__burger-button {
    padding: 0;
    width: 44px;
    height: 44px;
    display: none;
    background: transparent;
    border: none;
    justify-self: center;
    cursor: pointer;
    transition: opacity .3s linear;
  }

  .header__burger-button:hover {
    opacity: .6;
  }

  .header__logo:hover{
    opacity: .3;
  }
  .header__button:hover{
    opacity: .6;
  }
  .header__button__films:hover{
    opacity: .6;
  }
  .header__pofile__link:hover{
    opacity: .6;
  }

@media screen and (max-width: 1024px) {
    .header{
        margin: 0 0 20px;
        padding: 0 30px;
    }
    .header__burger-button {
        display: flex;
      }
      .header__button-container__films{
        display: none;
      }
      .header__pofile__link{
        display: none;
      }
}
@media screen and (max-width: 460px) {
    .header{
        padding: 0 14px;
    }
    .header__button{
        font-size: 10px;
    }
    .header__button{
        height: 26px;
    }
    .header__button-green{
        width: 54px;
    }
    .header__burger-button {
        width: 40px;
        height: 43px;
      }
    .header__button-container{
        gap: 14px;
    }

}